@import 'vars';
@import 'global';
@import 'fonts';


//start header
.header{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    }
    .header__text{
        margin-left: auto;
        margin-right: 25px;
        span{
            color: $red;
        }
    }
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register, .header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 40px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        @include f500;
    }
}
.header__circle{
    display: none;
    &.active{
        display: block;
    }
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #a0a0a0;
    font-size: 14px;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    & + .header__circle{
        margin-left: 15px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        font-size: 11px;
        top: -6px;
        right: -4px;
    }
}
.notification{
    span{
        background-color: #fcb322;
    }
}
.message{
    span{
        background-color: #ef6c00;
    }
}
.basket{
    margin-right: 25px;
    span{
        background-color: #8bc34a;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user{
    padding-right: 20px;
    
    position: relative;
    &::before{
        content:'\f0d7';
        font-family: 'icomoon';
        color: #707070;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;

    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__image{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 20px;
    }
    &__info{
        font-size: 14px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        @include f700;
        color: $green;
    }
}
.user__menu {
    top: 69px;
    right: 10px;
    border: 0px solid  rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0 20px;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    a{
        color: #546e7a;
        font-size: 12px;
        margin-bottom: 15px;        
    }
}
.user__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            z-index: 2;
        }
    }
}
.circle__menu{
    position: absolute;
    top: 60px;
    right: -12px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 2;
}
.basket__box,
.message__box,
.notification__box{
    position: relative;
    height: 90px;
    margin-top: 59px;
    margin-left: 15px;
    &:hover{
        .circle__menu{
            height: auto;
            overflow: visible;
        }
        .circle__item{
            padding: 23px 23px;
            border-width: 1px;
        }
        .icon-shopping-cart, .icon-bell-o, .icon-envelope-o{
            color: $bg;
        }
    }    
}
.notification__menu,
.message__menu{
    .circle-image{
        margin: 19px 20px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
    }
    .circle__info-title{
        @include f700;
        font-size: 12px;
    }
    .circle__info{
        line-height: 18px;
    }
}
.circle__item{
    background-color: #fff;
    padding: 0 23px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    transition: all .3s;
    border-left-width: 1px;
    border-right-width: 1px;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }
}
.icon-color::before{
    color: #ef6c00;
}
.circle__image{
    margin-right: 15px;
}
.circle__info-title{
    color: $bg;
    @include f500;
    font-size: 15px;
    line-height: 15px;
}
.circle__info-text{
    color: $green;
    font-size: 12px;
}
.circle__info-price{
    color: #000;
    @include f500;
    font-size: 16px;
    line-height: 16px;
}
.circle__info-date{
    color: #707070;
    font-size: 10px;
}
.message__menu{
    .circle__info-text{
        font-size: 11px;
    }
}
.basket__amount{
    padding: 18px 16px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}
.basket__amount-total{
    display: flex;
    justify-content: space-between;
    @include f700;
    font-size: 16px;
    color: $bg;
    margin-bottom: 18px;
    padding-left: 13px;
    padding-right: 22px;
}
.basket__btn{
    height: 35px;
    @include f700;
    font-size: 14px;
    color: #fff;
    background-color: #95c85a;
    text-align: center;
    padding: 7px 5px;
    width: 105px;
}
.basket__btn-checkout{
    background-color: #e85647;
    width: 123px;
}
  .heder__btn-menu, .icon-user{
      display: none;
  }
//end header


//start search
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 55px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        @include f700;
        margin-bottom: 28px;
        line-height: 72px;
    }
    &-text{
        font-size: 20px;
        @include f500;
        margin-bottom: 50px;
        line-height: 30px;
    }
    &-form{
        max-width:670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}

//end search

//start products
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        font-size: 14px;
        @include f500;
        cursor: pointer;
        & + button{
            margin-left: 6px;
        }
        &.mixitup-control-active{
        background-color: $red;
        color: #fff;
    }
    }
    
}
.products__inner-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    margin-left: 5px;
    &-img{
    min-height:250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
        @include f500; 
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
        margin-bottom: 5px;
    }
    &-category{
        display: block;
        color: #8bc34a;
        font-size: 14px;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            height: 30px;
            min-width: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        font-size: 12px;
        span{
         color: $bg;   
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        background-color: #fff;
        padding: 20px 30px;
        color: $bg;
        border: none;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
// end products
//start slider
.product__slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}
//end slider
// start advantages
.advantages{
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title{
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover{
        .advantages__item-image{
            background-color: $green;
            g{
                fill: #fff;
            }
        }
        .advantages__item-title{
            color: $green;
        }
    }
    &-image{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }
    &-title{
        color:#fff;
        font-size: 24px;
        @include f500;
        margin-bottom: 25px;
        transition: all .5s;
    }
    &-text{
        color: #b0bec5;
        font-size: 15px;
    }
}
//end advantages
//start author
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        height: 215px;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        &-title{
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            margin-right: 45px;
            max-width: 260px;
            span{
                @include f700;
            }
        }
        &-btn{
            font-size: 18px;
            line-height: 36px;
            color: $bg;
            padding: 14px 40px;
            background-color: #fff;

        }
    }
}
//end author
//start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
        &-image{
            min-height: 270px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        &-text{
            font-size: 24px;
            line-height: 60px;
            @include f700;
            color: $bg;
            text-align: center;
            padding: 30px 10px;
            background-color: #f8f8f8;
        }
    }
}
//end tutorial
//start footer
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
    &__column{
        max-width: 270px;
        width: 100%;
        &-menu{
            max-width: 225px;
        }
        &-title{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                left: 2px;
                height: 3px;
                width: 51px;
                background-color: $green;
                bottom: 0;

            }
        }
        &-text{
            color: #b7c3c8;
            margin-bottom: 30px;
        }
        &-info{
            margin-top: 18px;
            @include f500;
            color: #fff;
            padding-left: 30px;
            position: relative;
            &::before{
                content: '\f041';
                font-family: 'icomoon';
                font-size: 18px;
                color: $green;
                position: absolute;
                left: 0;
            }
            &-phone{
                &::before{
                    content: '\f095';
                }
            }
        }
        &-list{
            a{
                color: #b7c3c8;
                margin-bottom: 13px;
                padding-left: 22px;
                position: relative;
                &::before{
                    content: "\f105";
                    position: absolute;
                    left: 0;
                    font-family: 'icomoon';
                    font-size: 18px;
                    color: $green;
                }
            }
        }
        &-links{
            margin-bottom: 33px;
            li{
                display: inline-block;
                & + li{
                    margin-left: 7px;
                }
            }
            a{
                height: 28px;
                width: 28px;
                background-image: url(../images/css_sprites.png);
            }
        }
    }
}
.link-twitter{
    background-position: -28px -0;
}
.link-youtube{
    background-position: -0 -28px;
}
.link-pinterest{
    background-position: -28px -28px;
}
.link-linkdin{
    background-position: -56px -0;
}
.footer__form{
    position: relative;
    &-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    }
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 50px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        border: none;
        cursor: pointer;
        &::before{
            content: "\f124";
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    &-text{
    text-align: center;
    color: #919699;
    font-size: 15px;
    line-height: 36px;
    padding: 25px 0;
    }
}
//end footer

// start product-page
.product-page__inner{
    display: flex;
    margin-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside-item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside-title{
color: $bg;
font-size: 20px;
@include f700;
padding: 25px 0 18px;
border-bottom: 1px solid #dde3e8;
}
.category__list{
    padding-top: 10px;
    li{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 0;
        padding-left: 20px;
        &::before{
            content: "\f105";
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 18px;
            color: #8bc34a;
        }
        a{
            color: $bg;
        }
        span{
            color: #90a4ae;
            margin-left: 10px;

        }
    }
}
.irs-max, .irs-min{
    display: none;
}
.irs--flat .irs-bar {
    background-color: #37474f;
    height: 5px;
}
.irs--flat .irs-line {
    height: 5px;
    background-color: #f2f5f8;
}
.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid $green;
    background-color: #fff;
    top: 19px;
    margin-left: -3px;
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 40px;
    padding: 1px 5px;
    background-color: transparent;
    top: 32px;
}
.price-range{
    button{
    margin-top: 45px;
    width: 100%;
    padding: 16px 10px;
    background-color: $green;
    border: none;
    cursor: pointer;
    @include f500;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    &::before{
        content: "\f002";
        font-family: 'icomoon';
        color: #fff;
        padding-right: 9px;
    }
    }
    form{
        padding-top: 20px;
    }
} 
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.top-sellers{
    .product__item{
        margin-top: 25px;
        margin-left: 0;
        width: 100%;
        border-bottom: 1px solid #e7ecf2;;
        box-shadow: none;
        &-content{
            min-height: 75px;
            border: none;
            padding: 0;
        }
        &-info{
            padding: 5px 0;
            min-height: 0;
            margin-bottom: 25px;
        }
        &-star-num{
            display: none;
        }
        &-img {
            min-height: 120px;
        }
        &-author .avatar{
            margin-right: 9px;
        }
        .product__item-title, .product__item-price {
            font-size: 16px;
            @include f700;
        }
    }
    .rate-star{
        margin-right: 0px;
    }
    .jq-ry-container {
        padding: 0;
    }
}
.aside-product__item{
    .product__item:last-child{
        border: none;
        padding-bottom: 0;
    }
}
.top-sellers__link{
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    text-align: center;
    @include f500;
}
.product-page__content{
    width: 100%;
    .product__item{
        max-width: 270px;
        transition: all .5s;
        
        &-img {
            min-height: 180px;
        }
        &-title{
            font-size: 16px;
            @include f500;
        }
        &-content {
            padding: 10px 20px;
            background-color: #fff;
        }
        &-info{
            min-height: 65px;
            padding: 10px 20px;
            background-color: #fff;
        }
        &-star{
            color: #b0bec5;
        }
    
    .rate-star {
        margin-right: 5px;
    }
    .jq-ry-container {
        padding: 0 0
    }
}
}
.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        outline: none;
        &.active{
            color: green;
        }
    }
    &-sort{
        color: #707070;
        font-size: 14px;
        display: flex;
        align-items: center;
        .icon-sort-amount-desc{
            font-size: 14px;
            color: #455a64;
            padding-right: 10px;
        }
        .icon-unsorted{
            font-size: 18px;
            color: #707070;
            padding-left: 10px;
        }
    }
}
.product-page__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.pagination{
    &__list{
        li{
            display: inline-block;
            & + li{
                margin-left: 6px;
            }
            a, span{
                box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
                width: 43px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                font-size: 16px;
                color: $bg;
                @include f500;
                &.active{
                    color: #fff;
                    background-color: $red;
                }

            }
        }
    }
}
.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
}
.product__item{
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-content{
            padding-top: 23px;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            font-weight: 400;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price{
            font-size: 30px;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;

            }
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-star{
            margin-left: auto;
            margin-right: 23px;
        }
        .product__item-list{
            display: block;
            .icon-comment-o, .icon-heart-o{
                display: inline-block;
                font-size: 12px;
                padding-left: 50px;
                color: #b0bec5;
                border-left: 1px solid #aeb4bb;
                position: relative;
                span{
                    color: $bg;
                    font-weight: 400;
                     @include f500;
                }
                &::before{
                    position: absolute;
                    left: 23px;
                    color: $green;
                    font-size: 16px;
                    top: 0;
                }
            }
            .icon-comment-o{
                padding-right: 30px;
                &::before{
                    top: -2px;
                }
             }
         }
     }
}
//end product page




@import 'media';